<div>
{{!-- <div class="jumbotron bg-dark text-light"> --}}
    {{!-- <img src="../public/assets/images/burger-transparent.png" alt="burger" style="height: 300px;width:300px"> --}}
    <img src="../public/assets/images/burger.jpg" alt="burger">
     {{!-- style="height: 300px;width:300px"> --}}
    <span>Eat-Da-Burger</span>
</div>
<div class="row">
    <div id="burgers-left" class="col-md-6">
        <ol>
            {{#each burgers}}
            {{#unless devoured}}
            {{> burgers/burger-block devoured=true}}
            {{/unless}}
            {{/each}}
        </ol>
    </div>
    <div id="burgers-devoured" class="col-md-6">
        <ol>
            {{#each burgers}}
            {{#if devoured}}
            {{> burgers/burger-block devoured=false}}
            {{/if}}
            {{/each}}
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12" class="text-center">
        <form class="create-form">
            <div class="form-group">
                <input type="text" id="new-burger" name="burger">
            </div>
            <button type="submit">Submit</button>
            <span>Enter a burger you want to eat and then click the "Submit" button.</span>
    </div>
</div>