<div class="jumbotron bg-dark text-light">
    <span>Eat-Da-Burger</span>
</div>
<div class="row">
    <div id="burger-form" class="col-md-4">
        <form class="create-form">
            <div class="form-group">
                <input type="text" id="new-burger" name="burger">
                <button type="submit">Submit</button>
                <br><span>Enter a burger you want to eat and then click the "Submit" button.</span>
            </div>
        </form>
    </div>
    <div id="burgers-left" class="col-md-4">
        <ol>
            {{#each burgers}}
            {{#unless devoured}}
            {{> burgers/burger-block devoured=true}}
            {{/unless}}
            {{/each}}
        </ol>
    </div>
    <div id="burgers-devoured" class="col-md-4">
        <ol>
            {{#each burgers}}
            {{#if devoured}}
            {{> burgers/burger-block devoured=false}}
            {{/if}}
            {{/each}}
        </ol>
    </div>
</div>